doctype 5
html lang="zh-TW"
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"
    title NTUCEP
    link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"
    link href='http://fonts.googleapis.com/css?family=Petit+Formal+Script' rel='stylesheet' type='text/css'
    link href="stylesheets/styles.css" rel="stylesheet"
    link href="stylesheets/animate.css" rel="stylesheet"

  body
    .container
      h1 創創學生會會長擬參選人
      span.pull-right 依照 <a href="https://www.facebook.com/faco.fang"> Faco </a>製作順序排列:)
      .row
        .col-md-12
          .cover.animated.bounceInDown
            a href="http://on.fb.me/1mpuW8s" target="_blank" <img src="images/cover/lin.jpg">
          .cover.animated.bounceInUp
            a href="http://on.fb.me/1mpv5Zj" target="_blank" <img src="images/cover/sun.jpg">
          .cover
            img src="images/cover/new.jpg"
          .cover
            img src="images/cover/xavier.jpg"
          .cover
            img src="images/cover/kpman.jpg"
          .cover
            img src="images/cover/shaune.jpg"
      .row
        .col-md-12
          a.vote href="https://www.facebook.com/groups/348061911892983/permalink/766389623393541/" target="_blank" Vote or not?